<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <title>Movie</title>
</head>
<body>
    <h1 id="searchh1" class="text-center">Search your movie here</h1>
    <form action="/result" method="GET" class="justify-content-center d-flex">
     <input type="text" name="search" class="form-control w-25" placeholder="Enter movie name">
     <button  class="ml-3 text-center btn btn-success">Search Movie</button>
    </form>
</body>
</html>